﻿.btn {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 12px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.btn2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.btn2:hover
{
    background-color: #008CBA;
    color: white;
}

.txt 
{ 
    height: 25px; 
    width: 275px; 
    background-color: transparent;  
    border-style: solid;  
    border-width: 0px 0px 1px 0px;  
    border-color: darkred; 
    outline:0;
    font-size:150%; 
  }

.txt1 {
width: 250px;
border: 1px solid #3D484C;
background: #2D3538;
background-color:#008CBA;
margin: 0 0 5px;
padding: 8px;
border-radius: 5px;
font-size: 12px;
padding-right: 30px;
color:  #DDD;  
}
.txt2 {
background: #2D3538 url(http://picbox.im/image/cba14e57f0-validicon.png) no-repeat 99% 50%;
background-position: right 6px center;
background-color :whitesmoke;
}

.lblerror
{
   color: red;
}

.lblwelcome
{
    color:blue;
    height:20px;
    width:20px;
}

.lblname
{
    color:skyblue;

}
